streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
pdfplumber
pandas
fitz
llama-index
llama-parse
PyMuPDF
google-auth
nest_asyncio
github

